body {
    background-color:  #0038E8;
    color: #FFF800;
}

table {
    background-color: #E800C9;
    border-collapse: collapse;
    width:450px;
    height:450px;
    position:fixed;
    margin-left:-100px; /* half of width */
    margin-top:-100px;  /* half of height */
    top:33%;
    left:42.5%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 15px;
    text-align: left;
}

input {
	display: block;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

a {
    color: #FFF800;
    text-decoration: none;
}

a:hover {
    color: #0038E8;
    text-decoration: underline;
}